/* Css Document */
.fieldarea select {
	width: 285px;
}

td.fieldlabel {
	width: 100px;
}

td.fieldarea input.lb {
	width: 277px;
}

.left {
	text-align: left;
}

.loading {
	font-weight: bold;
	padding-left: 20px;
	background: url("../../../../../modules/servers/onapp_load_balancer/includes/img/loader.gif") no-repeat;
}

.loading-error {
	color: #ff0000;
	font-weight: bold;
	display: inline;
}